---
title: Speaking - Steven J Hicks
date: February 11, 2017
layout: home.jade
---

.row.engagements
    .col-lg-6
        h3 Bio
        p Steven Hicks is a full-stack web developer with nearly 20 years experience. He believes in clean, readable, and maintainable code. Steve likes to use the right tool for the job, especially if the right tool is JavaScript. He strongly believes that if you ain't falling, you ain't learning.
        p Steve embraces continuous improvement and believes that a developer's job is to solve problems, not just write code.
        p When he isn't crushing 1s and 0s or playing with his kids, you can find Steve at a triathlon, on his mountain bike, or in a climbing gym.
        h3 Current Talks
        p Abstracts and descriptions for my current talks can be found at my
            a(href='https://www.papercall.io/speakers/steven-hicks')  papercall.io speaker page.
    .col-lg-6
        h3 Past Speaking Engagements
        each engagement in collections.engagements
            article.content-article
                h4 #{engagement.talk}
                if engagement.link
                    h5
                        a(href='#{engagement.link}') #{engagement.event}
                else
                    h5 #{engagement.event}
                h6 #{engagement.location} - #{engagement.date}
                if engagement.slides
                    h6
                        a(href='#{engagement.slides}') Slides

